.calculator {
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;  /*Tudo além da calculadora será escondido*/

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr repeat(5, 48px);
}
